#
# SPARK File Name Characteristics
# This file contains regex definitions and a score
#
# Important: Rename this template file from .txt.template to .txt
#
# APPLICATION ------------------------------------------------------------------
#
# Every line is treated as REGEX case sensitive.
# Every line includes a score that adds up to a total score for this module.
#
# FORMAT -----------------------------------------------------------------------
#
# # COMMENT
# REGEX;SCORE to add;False Positive Regex
#
# EXAMPLES ---------------------------------------------------------------------
#
# # Various examples from APT case X
# \\svcsstat\.exe;75
# \\(server|servisces|smrr|srrm|svchost|svhost|svshost|taskmgr)\.exe$;25
# ProgramData\\Mail\\MailAg\\;40
# (Anwendungsdaten|Application Data|APPDATA)\\sydmain\.dll;55
# (TEMP|Temp)\\[^\\]+\.(xmd|yls)$;45
# (LOCAL SETTINGS\\Temp|Local Settings\\Temp|Local\\Temp)\\(word\.exe|winword\.exe);50
# (?i)\\chrome_frame_helper\.exe;60;(?i)(\\Google\\Chrome\\application\\|Prefetch\\)
#
# NOTICE -----------------------------------------------------------------------
# Notice that you can overwrite an exact regex definition within the Scanner's 
# signatures with your own definition. That means that if there is a definition 
# for "\\ncat\.exe", you can overwrite the score given by THOR by defining 
# exactly the same regex. 
# You are able to the reduce the score given by THOR by negative score 
# definitions like "\\bin\\ncat\.exe;-40" to exclude ncats that are located in
# a typical directory of e.g. a Cygwin installation. If "ncat" is detected in a
# different directory, the reduction will not take place. 

# Ncat Example
# bin\\nc\.exe;-20